name: Deploy to AWS

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-infra:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: test get_function
        run: |
          cd My-Cloud-Resume/get_function
          pytest -v
          cd ..
      - name: test put_function
        run: |
          cd My-Cloud-Resume/put_function
          pytest -v
          cd ..
