name: Deploy to AWS

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-infra:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest boto3 moto
      - name: test get_function
        run: |
          cd get_function
          pytest -v
          cd ..
      - name: test put_function
        env:
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test
          AWS_SESSION_TOKEN: test
          AWS_SECURITY_TOKEN: test
          AWS_DEFAULT_REGION: us-east-1
        run: |
          cd put_function
          pytest -v
          cd ..

  build-and-deploy-backend:
    needs: test-infra
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - uses: aws-actions/setup-sam@v2
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::715841361947:role/Resume-Github-Actions
          aws-region: us-east-1
      - name: Build and Deploy SAM application in one step
        run: sam build && sam deploy --no-confirm-changeset --no-fail-on-empty-changeset
